*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #dcdbd9;
  color: #803b3d;
  padding-top: 1%;
  text-align: center;  
}

#canvasDiv{
  margin: 120px auto 40px;
}

canvas{
  height: 50px;
  width: 50px;
  border: 1px solid #803b3d;
  -webkit-transition:webkit-transform 2s;
}

canvas:hover{
  width: 51px;
  height: 49px;
}

#reloadButton{
  text-decoration: none;
  font: 20px Arial, sans-serif;
  color: #803b3d;  color: ;
}

#reloadButton:hover{
  font-size: 22px;
}